.search-dropdown-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px; /* Spazio ridotto tra i dropdown */
  flex-wrap: nowrap; /* Impedisce ai dropdown di andare su più righe */
  position: relative; /* Aggiunge contesto di stacking */
}

.sec-center {
  position: relative;
  max-width: 100%;
  text-align: center;
  margin: 0;
  z-index: 1; /* Aggiunto per gestire il contesto di stacking */
}

.dropdown {
  display: none;
}

.dropdown:checked + label,
.dropdown:not(:checked) + label {
  font-size: 15px;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 200px; /* Ridotta la larghezza dei dropdown */
  flex-shrink: 1; /* Permette ai dropdown di ridursi su schermi piccoli */
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ffeba7;
  cursor: pointer;
  color: #102770;
  box-shadow: 0 12px 35px 0 rgba(255, 235, 167, .15);
}

.dropdown:not(:checked) + label .uil,
.dropdown:checked + label .uil {
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}

.dropdown:checked + label .uil {
  transform: rotate(180deg);
}

.section-dropdown {
  position: absolute;
  padding: 20px;
  background-color: white;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 14px 35px 0 rgba(9, 9, 12, 0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: all 200ms linear;
}

.dropdown:checked ~ .section-dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(0);
  z-index: 999; /* Assicurati che l'elemento attivo sia sopra tutti gli altri */
}

.section-dropdown button {
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.section-dropdown button.selected {
  background-color: #d1d5db;
}

.section-dropdown button:hover {
  background-color: #e2e2e2;
}

a {
  text-decoration: none;
  display: flex;
}

@media (max-width: 768px) {
  .dropdown:checked + label,
  .dropdown:not(:checked) + label {
    width: 150px; /* Riduce ulteriormente la larghezza dei dropdown su schermi più piccoli */
  }

  .section-dropdown {
    top: 60px; /* Modifica la posizione per schermi più piccoli */
    width: calc(100% - 40px); /* Imposta la larghezza adattata alla larghezza dello schermo */
    padding: 10px; /* Riduce il padding su schermi più piccoli */
  }

  .dropdown:checked ~ .section-dropdown {
    transform: translateX(-50%) translateY(10px); /* Sposta il dropdown leggermente verso il basso */
  }
}
