.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh; /* Assicurati che prenda l'altezza completa della viewport */
}

.input-group-prepend {
  margin-right: -2px !important;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ced4da;
  outline: 0;
  box-shadow: none !important;
}

.form-control {
  height: 70px;
  font-size: 14px;
}

.input-group-append {
  margin-left: 2px !important;
}

.logo img {
  width: 50px; /* Puoi regolare la dimensione come desideri */
  height: 50px; /* Assicurati che l'altezza e la larghezza siano appropriate */
}

.input-group-text {
  background-color: #fff;
  border: none;
}
