.icon-spin {
    animation: spin 8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        animation-timing-function: cubic-bezier(0.3, 0.6, 0.4, 1);
    }
    30% {
        transform: rotate(360deg);
        animation-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    }
    70% {
        transform: rotate(720deg);
        animation-timing-function: cubic-bezier(0.3, 0.6, 0.4, 1);
    }
    100% {
        transform: rotate(1080deg);
        animation-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    }
}
