@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: bold;
  text-align: center;
}
p{
  --clr: #00000;
}
:root {
  --clr: #e4f1fe;
  --bg: #000000; /* Valore di default per --bg */
}

body {
  min-height: 100vh;
  background: var(--clr);
}