@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

:root {
  --font-family: 'Poppins', sans-serif;
  --font-size: 15px;
  --bg-color: #ffffff;
  --main-color: #E91E63;
  --secondary-color: #ffeba7;
  --input-bg-color: #F1F6F9;
  --text-color: #c4c3ca;
  --btn-bg-color: #99B2CC;
  --btn-hover-bg-color: #337357;
  --btn-hover-text-color: #FFD23F;
  --btn-focus-bg-color: #6b7c8e;
  --btn-focus-text-color: #6b7c8e;
  --box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
  --box-shadow-hover: 0 8px 24px 0 rgba(16, 39, 112, .2);
  --perspective: 800px;
  --transition-speed: 0.5s;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  overflow-x: hidden;
}

h6 span {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.full-height {
  min-height: 70vh;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  margin: 10px auto;
  cursor: pointer;
  background-color: #fff;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: var(--secondary-color);
  background-color: var(--main-color);
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all var(--transition-speed) ease;
}

.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-180deg);
}

.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 500px;
  transform-style: preserve-3d;
  perspective: var(--perspective);
  margin-top: 60px;
}

.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}

.card-front,
.card-back {
  width: 100%;
  height: 120%;
  background-color: var(--bg-color);
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}

.center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
}

.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 30px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: var(--text-color);
  background-color: var(--input-bg-color);
  border: none;
  transition: all 200ms linear;
  box-shadow: var(--box-shadow);
}

.btn {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  background-color: var(--btn-bg-color);
  color: #102770;
  transition: all 200ms linear;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, .2);
}

.btn:active,
.btn:focus {
  background-color: var(--btn-focus-bg-color);
  color: var(--btn-focus-text-color);
  box-shadow: var(--box-shadow-hover);
}

.btn:hover {
  background-color: var(--btn-hover-bg-color);
  color: var(--btn-hover-text-color);
  box-shadow: var(--box-shadow-hover);
}
